<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact details</title>
</head>
<body>
    <h1>Contact details</h1>
    <h2>Heya! guys I'm really excited to meet new people and discuss with me new innovative stuff
        so do contact me 
    </h2>
    <p>My email id -> anirudhpabbaraju1103@gmail.com</p>
    <footer>
        <p>© Anirudh Pabbaraju</p>
        <a href="https://www.instagram.com/anirudhpabbaraju/?hl=en">My insta handle</a>
    </footer>
  
</body>
</html>