<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My-Resume</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <h1>Anirudh Pabbaraju</h1>
    <h2>My resume</h2>
    <div class="img_div">
      <img src="../static/images/me.jpg" alt="" height="350" />
      <div class="text">
        <h2>About Me</h2>
        <p>
          My name is Anirudh , I am from Hyderabad. I was born on 3rd November
          2004. I have a younger sister and my father works as insurance manager
          and my mother is a homemaker.
        </p>

        <p>
          I'm currently pursuing my btech degree from National Institute of
          Technology Warangal <strong>(NITW)</strong> located in
          Kazipet,Hanumakonda ,Telangana. My major is in Computer Science and
          I'm in second year as of now (2023-2024) .I'm also pursuing a minor
          degree in school of management field aka Management side.. .I'm very
          passionate about coding and exploring new cutting edge phenomena's
          across the globe .My hobbies are playing cricket, drawing pencil
          sketches of fascinating objects,and I even like to read scific books
          mainly focussing on time travel or either adventure based novels.
        </p>
      </div>
    </div>

    <div class="matter">
        <div>
            <h2>Education</h2>
            <ul>
              <li>BTECH -> NITW (2022-2026)</li>
              <li>plus 2-> <strong> NARAYANA</strong> (2019-2022)</li>
              <li>Velocity School(2017-2019)</li>
              <li>St joseph public school (2008-2017)</li>
            </ul>
        </div>

        <div>
            <h2>Events participated</h2>
            <ul>
                <li>Presently participated in a webdev hackathon in 2023</li>
                <li>Olympaids during school and college time</li>
            </ul>
        </div>

        <div>
            <h2>Skills</h2>
            <ol>
                <li class="s">Coding
                    <ul>
                        <li>C</li>
                        <li>C++</li>
                        <li>Java</li>
                        <li>Python</li>
                        <li>Web-development
                            <ol>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>Java Script</li>
                                <li>SQL</li>
                            </ol>
                        </li>
                    </ul>
                </li>
                <li class="s">Drawing skills
                    <ul>
                        <li>Pencil Sketches</li>
                        <li>Painting</li>
                    </ul>
                </li>
                <li class="s">GUI
                    <ul>
                        <li>Video editing</li>
                        <li>Graphics</li>
                        <li>Photography skills</li>
                    </ul>
                </li>
                <li class="s">Good story teller</li>
            </ol>
        </div>

        <div>
            <h2>Hobbies and Interests</h2>
            <ul>
                <li>Playing cricket</li>
                <li>Reading novels</li>
                <li>Artistic skills and coding</li>
                <li>Love cycling and trekking</li>
                <li>
                    <strong>
                        Interests
                    </strong>
                    <ul>
                        <li>
                            My best novel is 
                            <strong>
                                Sindabad the Sailor by ruskin bond
                            </strong>
                        </li>
                        <li>My favourite sport is cricket and i like
                            <strong>
                                Virat kohli
                            </strong>. 
                            He is like a inspiration to me and i
                            always get to learn many things when ever 
                            I see him play on the field.
                        </li>
                        <li>
                            My favourite color's are Blue,Red,Green 
                            I even like shades of White
                        </li>
                        <li>
                            My favourite desert is 
                            <strong>
                                Fruit Custard
                            </strong> 
                            made by my
                            mother it alwyays makes me pleasant.
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="foo">
        <div><p>© Anirudh Pabbaraju</p></div>
        <div><h3><a href="/contact">Contact me</a></h3></div>
    </div>

    
  </body>
</html>
